---
extends: default
ignore: |
  .tox/
  .cache/
  ./.github/stale.yml
rules:
  braces:
    level: error
    max-spaces-inside: 1
  brackets:
    level: error
    max-spaces-inside: 1
  line-length: disable
  truthy: disable
